<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>io.mcred.espresso-commander</string>
    
    <key>ProgramArguments</key>
    <array>
        <string>/usr/local/bin/espresso-commander</string>
    </array>
    
    <key>RunAtLoad</key>
    <true/>
    
    <key>KeepAlive</key>
    <true/>
    
    <key>StandardOutPath</key>
    <string>/var/log/espresso-commander.log</string>
    
    <key>StandardErrorPath</key>
    <string>/var/log/espresso-commander.error.log</string>
    
    <key>WorkingDirectory</key>
    <string>/usr/local/bin</string>
    
    <key>EnvironmentVariables</key>
    <dict>
        <key>PATH</key>
        <string>/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
    </dict>
    
    <key>ThrottleInterval</key>
    <integer>10</integer>
    
    <key>Disabled</key>
    <false/>
</dict>
</plist>